* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fallTime: 2.9s;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-image: url("https://freshprompts-blog-images.s3.amazonaws.com/background-drawing-ideas/space.jpg");
  background-size: cover;
}
.gameCont {
  margin-top: 10px;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  position: relative;
  background-image: url("https://img.freepik.com/premium-photo/pale-olive-skin-abstract-creative-background-design_851755-306063.jpg?semt=ais_hybrid");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.startButton {
  position: absolute;
  font-size: 80px;
  font-family: fantasy;
  background-color: yellow;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
}

.sideBar{
  margin-top: 30px;
  width: 300px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0px 0px;
}

/* Fruit */
.fruit {
  display: block;
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-size: cover;
  z-index: 1;
  top: -100px;
}
.hidden {
  display: none;
}
.animate {
  animation: float var(--fallTime) cubic-bezier(0.22, 0.01, 0.7, 0.24);
}
.apple {
  background-image: url("https://clipart-library.com/image_gallery/275592.gif");
}
.strawberry {
  background-image: url("https://forums.terraria.org/index.php?attachments/new-piskel-4-3-gif.400974/");
  transform: rotate(-45deg);
}
.banana {
  background-image: url("https://media.tenor.com/iixrKkvsiIUAAAAj/ufo-green.gif");
}
.cherry {
  background-image: url("https://i.giphy.com/Qs7WbYem6RDksHxd1l.webp");

}
@keyframes float {
  0% {
    top: 0px;
  }
  100% {
    display: none;
    top: 900px;
  }
}

/*Basket*/
.basket {
  width: 200px;
  height: 140px;
  top: 1030px;
  position: absolute;
  transition: 0.1s linear;
}
.basket img {
  width: 100%;
  height: 100%;
}

/* Score & Live */
.scoreContainer {
  width: 300px;
  height: 150px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  font-size: 200%;
  border-radius: 15px;
  color: #333;
  background: rgba(255, 255, 255, 0.8);

}

.liveCont {
  width: 300px;
  height: 150px;
  border-radius: 15px;
  color: #333;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  font-family: fantasy;
  gap: 5px;
}
.liveIcon {
  width: 50px;
  height: 50px;
  background-image: url("./heart.png");
}
.difficultySelector {
  margin-top: 20px;
  text-align: center;
  
}

h3{
  font-family: fantasy;
  color: #333
}

.difficultySelector select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #f8f8f8;
  color: #333;
  transition: border 0.3s ease;
  border: none;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);

}
.pooImage {
  background-image: url("./poo.png");
}

.gameOverMessage {
  position: absolute;
  font-size: 60px;
  font-family: fantasy;
  background-color: yellow;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.basket.shake {
  animation: shake 0.5s ease-in-out;
}